<!DOCTYPE html>
<html>
<head>
  <title>Video summarizer</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style type="text/css">
    body{
      background: #2193b0;
      background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0); 
      background: linear-gradient(to right, #6dd5ed, #2193b0); 
    }
    </style>
    </head>
    <header class="w3-display-container w3-wide bgimg w3-grayscale-min" >
  <div class="w3-display-middle w3-text-white w3-center" style="opacity: 7.0">

    <h1 style="text-align: center;color: black;font-size: 40px;opacity: 19.0;color: black"><strong><bold>Video Conference Summarizer</bold></strong></h1>
    <h2 style="text-align: center;color: black;font-size: 40px;opacity: 19.0;color: black ;padding-top: 10%"><strong><bold>  Please check your inbox</bold></strong></div>
</header>
</body>
</html>