<!DOCTYPE html>
<html>
<head>
	<title>Video summarizer</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style type="text/css">
		body{
			background: #2193b0;
			background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0); 
			background: linear-gradient(to right, #6dd5ed, #2193b0); 
		}
		#center{
			padding-top: 380px;
			padding-left: 450px;
		}
		#search{
			width: 540px;
		}
	</style>
</head>
<body>
	<div id="center">
		<form class="form-inline center" action="/summarizer" method="POST">
		  	<div class="form-group mx-sm-3 mb-2">
		    	<input type="text" class="form-control" required name="FileName" placeholder="">
		  	</div>
		  	<button type="submit" class="btn btn-primary mb-2">Submit</button>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>